@font-face {
    font-family: 'WS100';
    src: url('./fonts/WorkSans-Thin.woff2') format('woff2'),
    url('./fonts/WorkSans-Thin.woff') format('woff'),
    url('./fonts/WorkSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS100i';
    src: url('./fonts/WorkSans-ThinItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-ThinItalic.woff') format('woff'),
    url('./fonts/WorkSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS200';
    src: url('./fonts/WorkSans-ExtraLight.woff2') format('woff2'),
    url('./fonts/WorkSans-ExtraLight.woff') format('woff'),
    url('./fonts/WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS200i';
    src: url('./fonts/WorkSans-ExtraLightItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-ExtraLightItalic.woff') format('woff'),
    url('./fonts/WorkSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS300';
    src: url('./fonts/WorkSans-Light.woff2') format('woff2'),
    url('./fonts/WorkSans-Light.woff') format('woff'),
    url('./fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS300i';
    src: url('./fonts/WorkSans-LightItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-LightItalic.woff') format('woff'),
    url('./fonts/WorkSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS400';
    src: url('./fonts/WorkSans-Regular.woff2') format('woff2'),
    url('./fonts/WorkSans-Regular.woff') format('woff'),
    url('./fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS400i';
    src: url('./fonts/WorkSans-Italic.woff2') format('woff2'),
    url('./fonts/WorkSans-Italic.woff') format('woff'),
    url('./fonts/WorkSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS500';
    src: url('./fonts/WorkSans-Medium.woff2') format('woff2'),
    url('./fonts/WorkSans-Medium.woff') format('woff'),
    url('./fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS500i';
    src: url('./fonts/WorkSans-MediumItalic.woff2') format('woff2'),
        url('./fonts/WorkSans-MediumItalic.woff') format('woff'),
        url('./fonts/WorkSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS600';
    src: url('./fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('./fonts/WorkSans-SemiBold.woff') format('woff'),
    url('./fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS600i';
    src: url('./fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-SemiBoldItalic.woff') format('woff'),
    url('./fonts/WorkSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS700';
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2'),
    url('./fonts/WorkSans-Bold.woff') format('woff'),
    url('./fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS700i';
    src: url('./fonts/WorkSans-BoldItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-BoldItalic.woff') format('woff'),
    url('./fonts/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
   
@font-face {
    font-family: 'WS800';
    src: url('./fonts/WorkSans-ExtraBold.woff2') format('woff2'),
    url('./fonts/WorkSans-ExtraBold.woff') format('woff'),
    url('./fonts/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WS800i';
    src: url('./fonts/WorkSans-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/WorkSans-ExtraBoldItalic.woff') format('woff'),
    url('./fonts/WorkSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'WS900';
    src: url('./fonts/WorkSans-Black.woff2') format('woff2'),
    url('./fonts/WorkSans-Black.woff') format('woff'),
    url('./fonts/WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
    
@font-face {
    font-family: 'WS900i';
    src: url('./fonts/WorkSans-BlackItalic.woff2') format('woff2'),
        url('./fonts/WorkSans-BlackItalic.woff') format('woff'),
        url('./fonts/WorkSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SM';
    src: url('./fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('./fonts/SpaceMono-Regular.woff') format('woff'),
    url('./fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SMi';
    src: url('./fonts/SpaceMono-Italic.woff2') format('woff2'),
    url('./fonts/SpaceMono-Italic.woff') format('woff'),
    url('./fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SMB';
    src: url('./fonts/SpaceMono-Bold.woff2') format('woff2'),
        url('./fonts/SpaceMono-Bold.woff') format('woff'),
        url('./fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SMBi';
    src: url('./fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
    url('./fonts/SpaceMono-BoldItalic.woff') format('woff'),
    url('./fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.page {
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
}

/* -----Header----- */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #2B2B2B;
}

.logo {
    display: flex;
    gap: 12px;
}

.logo__pic {
    width: 32px;
    height: 32px;
    object-fit: cover;
    fill: #A259FF;
}

.logo__text {
    margin-top: 8.6px;
    width: 200px;
    height: 21px;
    object-fit: cover;
    fill: #FFFFFF;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__link {
    text-decoration: none;
    padding: 12px 20px;
    transition: .2s;

    font-family: "WS600";
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
}

.navbar__link:hover {
    color: #A259FF;
}

.navbar__btn {
    padding: 19px 30px;
    border: none;
    border-radius: 20px;
    background-color: #A259FF;
    cursor: pointer;
    transition: .2s;

    font-family: "WS600";
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.navbar__btn:hover {
    outline: 1px solid #A259FF;
    background-color: transparent;
    color: #A259FF;
}

.navbar__btn:hover > .navbar__pic {
    fill: #A259FF;
}

.navbar__pic {
    width: 20px;
    height: 20px;
    object-fit: cover;
    fill: #FFFFFF;
    transition: .2s;
}

.head__burger {
    display: none;
}

/* -----Create_Account----- */

.create {
    display: flex;
    gap: 60px;
    background-color: #2B2B2B;
}

.create__pic {
    max-width: 610px;
    aspect-ratio: 610 / 691;
}

.create__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.create__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 460px;
}

.create__title {
    font-family: "WS600";
    font-size: 51px;
    line-height: 110%;
    color: #FFFFFF;
}

.create__descr {
    font-family: "WS400";
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    text-transform: capitalize;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 330px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__field {
    position: relative;
}

.form__field input {
    width: 100%;
    aspect-ratio: 330 / 46;
    padding-left: 52px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    outline: none;

    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #A259FF;
}

.form__field input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 52px;

    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #2B2B2B;
}

.form__pic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 20px;
    height: 20px;
    fill: #BDBDBD;
    transition: .2s;
}

.form__btn {
    width: 100%;
    aspect-ratio: 330 / 46;
    border: none;
    border-radius: 20px;
    background-color: #A259FF;
    cursor: pointer;
    transition: .2s;

    font-family: "WS600";
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form__btn:hover {
    outline: 1px solid #A259FF;
    background-color: transparent;
    color: #A259FF;
}

/* -----Footer----- */

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 40px 0px;
    background-color: #3B3B3B;
}

.foot__content {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 327px;
}

.info__logo {
    display: flex;
    gap: 12px;
}

.info__logopic {
    width: 32px;
    height: 32px;
    object-fit: cover;
    fill: #A259FF;
}

.info__logotext {
    margin-top: 8.6px;
    width: 200px;
    height: 21px;
    object-fit: cover;
    fill: #FFFFFF;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__text {
    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #CCCCCC;
    max-width: 238px;
}

.info__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__links {
    display: flex;
    gap: 10px;
}

.info__link {
    width: 32px;
    height: 32px;
    display: block;
    text-decoration: none;
}

.info__link:hover > .info__pic {
    fill: #A259FF;
}

.info__link:hover > .info__pic_st {
    fill: none;
    stroke: #A259FF;
}

.info__pic {
    width: 32px;
    height: 32px;
    fill: #858584;
    transition: .2s;
}

.info__pic_st {
    fill: none;
    stroke: #858584;
}

.foot__explore {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 240px;
}

.foot__subheader {
    font-family: "SMB";
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.foot__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foot__text {
    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #CCCCCC;
}

.foot__text:hover > .foot__link {
    color: #A259FF;
}

.foot__link {
    text-decoration: none;
    color: #CCCCCC;
    transition: .2s;
}

.subscr {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.subscr__subheader {
    font-family: "SMB";
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    text-transform: capitalize;
}

.subscr__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscr__text {
    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #CCCCCC;
    max-width: 330px;
}

.subscr__form {
    position: relative;
    display: flex;
    width: 420px;
}

.subscr__form input {
    width: 99%;
    aspect-ratio: 420 / 60;
    padding-left: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: none;
    outline: none;

    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #A259FF;
}

.subscr__form input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 20px;

    font-family: "WS400";
    font-size: 1rem;
    line-height: 140%;
    color: #2B2B2B;
}

.subscr__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 19px 50px;
    border: none;
    border-radius: 16px;
    background-color: #A259FF;
    cursor: pointer;
    transition: .2s;

    font-family: "WS600";
    font-size: 1rem;
    line-height: 137%;
    color: #FFFFFF;
}

.subscr__btn:hover {
    background-color: #2B2B2B;
    color: #A259FF;
}

.subscr__pic {
    display: none;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition: .2s;
}

.foot__wrapper {
    display: flex;
    flex-direction: column;
    width: 1049px;
    gap: 20px;
}

.foot__divider {
    width: 100%;
    height: 1px;
    background-color: #858584;
}

.foot__copy {
    width: 1049px;
    text-align: left;
    font-family: "WS400";
    font-size: 12px;
    line-height: 110%;
    color: #CCCCCC;
}

@media (max-width:1150px) {
    .create__title {
        font-size: 38px;
        line-height: 120%;
    }
    .create__descr {
        font-size: 1rem;
        line-height: 140%;
    }
    .foot {
        align-items: flex-start;
        padding: 40px 72px;
    }
    .foot__content {
        flex-direction: column;
    }
    .foot__wrapper {
        width: 100%;
    }
    .foot__copy {
        width: 100%;
    }
}

@media (max-width:1050px) {
    .navbar {
        display: none;
    }
    .head__burger {
        display: block;
        width: 24px;
        aspect-ratio: 1 / 1;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: .2s;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head__pic {
        width: 24px;
        aspect-ratio: 1 / 1;
        fill: #FFFFFF;
        transition: .2s;
    }
    .head__burger:hover > .head__pic {
        fill: #A259FF;
    }
}

@media (max-width:920px) {
    .logo {
        gap: 9px;
    }
    .logo__pic {
        width: 24px;
        height: 24px;
    }
    .logo__text {
        margin-top: 6px;
        width: 150px;
        height: 16px;
    }
    .head {
        padding: 15px 50px;
    }
    .create {
        gap: 40px;
    }
    .create__descr {
        text-transform: none;
    }
    .create__pic {
        max-width: 397px;
        aspect-ratio: 397 / 615;
    }
    .create__header {
        max-width: 325px;
    }
    .form {
        width: 325px;
    }
    .foot {
        gap: 49px;
    }
    .foot__content {
        gap: 30px;
    }
    .info {
        width: 100%;
        gap: 20px;
    }
    .info__text {
        max-width: 100%;
    }
    .foot__explore {
        gap: 20px;
    }
    .subscr {
        gap: 20px;
    }
    .subscr__text {
        max-width: 100%;
    }
}

@media (max-width:800px) {
    .form {
        width: 315px;
    }
}

@media (max-width:670px) {
    .create {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .form {
        padding-bottom: 40px;
    }
}

@media (max-width:564px) {
    .foot {
        padding: 40px 30px;
    }
    .subscr__form {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 315px;
    }
    .subscr__form input {
        width: 100%;
        aspect-ratio: 315 / 46;
        padding-left: 20px;
    }
    .subscr__btn {
        position: static;
        width: 100%;
        aspect-ratio: 315 / 46;
        padding: 0px 0px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .subscr__btn:hover {
        background-color: #2B2B2B;
        color: #A259FF;
    }
    .subscr__btn:hover > .subscr__pic {
        fill: #A259FF;
    }
    .subscr__pic {
        display: block;
    }
}

@media (max-width:392px) {
    .head {
        padding: 15px 30px;
    }
    .create__form {
        padding: 0px 30px;
    }
    .create__pic {
        max-width: 375px;
        aspect-ratio: 375 / 232;
    }
    .foot {
        gap: 30px;
    }
}